.cart_widget {
  color: white; 
  justify-content:space-between;
  display:inline;
}

.cantidadCarrito {
    background-color: #F44336;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    top: -8px;
    left: -5px;
    /* font-size: 12px; */
}