.header {
  display: flex;
  flex-direction: row;
}

.header div:first-child {
  width: 100%;
}

.header .logger-user {
    font-size: 12px;
    color: white;
    z-index: 1031;
    /* display: flex; */
    /* position: fixed; */
    /* right: 0; */
    /* top: 0; */
    flex-direction: column;
    /* padding: 5px 10px; */
    /* text-align: right; */
}

/* .header .logger-user:hover {
  color: rgb(177, 177, 177);
} */

.header .btn-link.btn-anchor {
  outline: none !important;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background-color: transparent;
  color: white;
}

.header .btn-link.btn-anchor:hover{
  color: rgb(177, 177, 177);
}

.header .btn-link.btn-anchor.btn-login {
  padding: 10px;
}